In [18]:
import pandas as pd
costomers={
    "costumerId":[1,2,3,4],
    "firstName":["umut","can","hasan","canan"],
    "lastName":["yıldız","korkmaz","celik","toprak"]
}
orders={
    "orderId":[10,11,12,13],
    "costumerId":[1,2,5,7],
    "orderDate":["210-07-04","210-08-04","210-09-04","210-10-04"]
}
df_costumers=pd.DataFrame(costomers,columns=["costumerId","firstName","lastName"])
df_orders=pd.DataFrame(orders,columns=["orderId","costumerId","orderDate"])
print(df_costumers)
print(df_orders)

   costumerId firstName lastName
0           1      umut   yıldız
1           2       can  korkmaz
2           3     hasan    celik
3           4     canan   toprak
   orderId  costumerId  orderDate
0       10           1  210-07-04
1       11           2  210-08-04
2       12           5  210-09-04
3       13           7  210-10-04

In [21]:
result=pd.merge(df_costumers,df_orders,how="inner")
print(result)

   costumerId firstName lastName  orderId  orderDate
0           1      umut   yıldız       10  210-07-04
1           2       can  korkmaz       11  210-08-04

In [22]:
result=pd.merge(df_costumers,df_orders,how="left")
print(result)

   costumerId firstName lastName  orderId  orderDate
0           1      umut   yıldız     10.0  210-07-04
1           2       can  korkmaz     11.0  210-08-04
2           3     hasan    celik      NaN        NaN
3           4     canan   toprak      NaN        NaN

In [23]:
result=pd.merge(df_costumers,df_orders,how="right")
print(result)

   costumerId firstName lastName  orderId  orderDate
0           1      umut   yıldız       10  210-07-04
1           2       can  korkmaz       11  210-08-04
2           5       NaN      NaN       12  210-09-04
3           7       NaN      NaN       13  210-10-04

In [28]:
costomersA={
    "costumerId":[1,2,3,4],
    "firstName":["umut","can","hasan","canan"],
    "lastName":["yıldız","korkmaz","celik","toprak"]
}
costomersB={
    "costumerId":[4,5,6,7],
    "firstName":["ceylan","yagmur","cinar","cengiz"],
    "lastName":["bilge","celik","korkmaz","yıldız"]
}

df_costumersA=pd.DataFrame(costomersA,columns=["costumerId","firstName","lastName"])
df_costumersB=pd.DataFrame(costomersB,columns=["costumerId","firstName","lastName"])

result=pd.concat([df_costumersA,df_costumersB])
print(result)#ikisini birlestirir
result=pd.concat([df_costumersA,df_costumersB],axis=1)
print(result)#ikisini birlestirir

result=pd.merge(df_costumersA,df_costumersB,how="outer")
print(result)

   costumerId firstName lastName
0           1      umut   yıldız
1           2       can  korkmaz
2           3     hasan    celik
3           4     canan   toprak
0           4    ceylan    bilge
1           5    yagmur    celik
2           6     cinar  korkmaz
3           7    cengiz   yıldız
   costumerId firstName lastName  costumerId firstName lastName
0           1      umut   yıldız           4    ceylan    bilge
1           2       can  korkmaz           5    yagmur    celik
2           3     hasan    celik           6     cinar  korkmaz
3           4     canan   toprak           7    cengiz   yıldız
   costumerId firstName lastName
0           1      umut   yıldız
1           2       can  korkmaz
2           3     hasan    celik
3           4     canan   toprak
4           4    ceylan    bilge
5           5    yagmur    celik
6           6     cinar  korkmaz
7           7    cengiz   yıldız