In [23]:
import pandas as pd
import numpy as np
data={
    "column1":[1,2,3,4,5],
    "column2":[10,20,13,20,25],
    "column3":["abc","bcaa","ade","cb","dea"]
    
}

df=pd.DataFrame(data)
result=df
print(result)

   column1  column2 column3
0        1       10     abc
1        2       20    bcaa
2        3       13     ade
3        4       20      cb
4        5       25     dea

In [4]:
result=df["column2"].unique()#tekrarlamayan degerleri karsimiza getirir
print(result)

[10 20 13 25]

In [5]:
result=df["column2"].nunique()#tekrerlananları çıkardıktan sonra kac tane kalır
print(result)

4

In [11]:
result=df["column2"].value_counts()#elemanlardan kac tane oldugunu listeler
print(result)

20    2
10    1
13    1
25    1
Name: column2, dtype: int64

In [12]:
result=df["column1"]*2
print(result)

0     2
1     4
2     6
3     8
4    10
Name: column1, dtype: int64

In [19]:
def kareAl(x):
    return x*x
result=df["column1"].apply(kareAl)
print(result)

0     1
1     4
2     9
3    16
4    25
Name: column1, dtype: int64

In [20]:
kareAl2=lambda x:x*x
result=df["column1"].apply(kareAl2)
print(result)

0     1
1     4
2     9
3    16
4    25
Name: column1, dtype: int64

In [21]:
result=df["column1"].apply(lambda x:x*x)
print(result)

0     1
1     4
2     9
3    16
4    25
Name: column1, dtype: int64

In [25]:
df["column4"]=df["column3"].apply(len)
print(df)

   column1  column2 column3  column4
0        1       10     abc        3
1        2       20    bcaa        4
2        3       13     ade        3
3        4       20      cb        2
4        5       25     dea        3

In [27]:
result=df.columns
print(result)

Index(['column1', 'column2', 'column3', 'column4'], dtype='object')

In [30]:
result=len(df.columns)
print(result)

4

In [31]:
result=df.index
print(result)

RangeIndex(start=0, stop=5, step=1)

In [32]:
result=len(df.index)
print(result)

5

In [33]:
result=df.info
print(result)

<bound method DataFrame.info of    column1  column2 column3  column4
0        1       10     abc        3
1        2       20    bcaa        4
2        3       13     ade        3
3        4       20      cb        2
4        5       25     dea        3>

In [34]:
result=df.sort_values("column2")#buyukten kucuge sıralar
print(result)

   column1  column2 column3  column4
0        1       10     abc        3
2        3       13     ade        3
1        2       20    bcaa        4
3        4       20      cb        2
4        5       25     dea        3

In [35]:
result=df.sort_values("column3")#alfabetik sıralar
print(result)

   column1  column2 column3  column4
0        1       10     abc        3
2        3       13     ade        3
1        2       20    bcaa        4
3        4       20      cb        2
4        5       25     dea        3

In [36]:
result=df.sort_values("column3",ascending=False)#kucukten buyuge 
print(result)

   column1  column2 column3  column4
4        5       25     dea        3
3        4       20      cb        2
1        2       20    bcaa        4
2        3       13     ade        3
0        1       10     abc        3

In [41]:
x="hello"[0]
print(x)

h