In [4]:
import pandas as pd
s1=pd.Series([3,2,0,1])
s2=pd.Series([0,3,7,2])
data=dict(apples=s1,oranges=s2)
df=pd.DataFrame(data)
print(df)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [5]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
df=pd.DataFrame([1,2,3,4])
print(df)

   0
0  1
1  2
2  3
3  4

In [7]:
df=pd.DataFrame([["ahmet",50],["ali",60],["ayşe",70],["ayhan",20],])
print(df)

       0   1
0  ahmet  50
1    ali  60
2   ayşe  70
3  ayhan  20

In [11]:
data=[["ahmet",50],["ali",60],["ayşe",70],["ayhan",20]]
df=pd.DataFrame(data, columns=['name','grande'],index=[1,2,3,4])
print(df)

    name  grande
1  ahmet      50
2    ali      60
3   ayşe      70
4  ayhan      20

In [15]:
data=[["ahmet",50],["ali",60],["ayşe",70],["ayhan",20]]
df=pd.DataFrame(data,index=[1,2,3,4], columns=['name','grande'],dtype=float)
print(df)

    name  grande
1  ahmet    50.0
2    ali    60.0
3   ayşe    70.0
4  ayhan    20.0

C:\Users\UMUT\AppData\Local\Temp\ipykernel_17000\1785154534.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(data,index=[1,2,3,4], columns=['name','grande'],dtype=float)

In [20]:
dict={"name":["ahmet","ali","ayşe","ayhan"],
     "not":[50,60,70,20]}
df=pd.DataFrame(data,index=["210","232","236","456"], columns=['name','not'],dtype=float)
print(df)

      name   not
210  ahmet  50.0
232    ali  60.0
236   ayşe  70.0
456  ayhan  20.0

C:\Users\UMUT\AppData\Local\Temp\ipykernel_17000\882662723.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(data,index=["210","232","236","456"], columns=['name','not'],dtype=float)

In [31]:
dict_list=[
    {"name":"umut","grande":20,"number":"362"},
    {"name":"ayse","grande":30,"number":"123"},
    {"name":"ali","grande":40,"number":"321"},
    {"name":"can","grande":50,"number":"258"},
    {"name":"ahmet","grande":60,"number":"951"},
    {"name":"derya","grande":80,"number":"753"}
]
df=pd.DataFrame(dict_list, columns=['name','grande',"number"])
print(df)

    name  grande number
0   umut      20    362
1   ayse      30    123
2    ali      40    321
3    can      50    258
4  ahmet      60    951
5  derya      80    753