In [6]:
import pandas as pd

In [27]:
personeller={
    "çalışan":["ali","umut","ayşe","can","cenk","rıza","mustafa"],
    "departman":["insan kaynakları","bilgi işlem","muhasebe","insan kaynakları","muhasebe","bilgi işlem","insan kaynakları" ],
    "yaş":[30,25,45,50,23,34,42],
    "semt":["kadikoy","tuzla","maltepe","tuzla","maltepe","tuzla","kadikoy"],
    "maas":[5000,3000,4000,3500,2750,6500,4500]  
}
df = pd.DataFrame(personeller)
result=df
result=df["maas"].sum()
print(result)
result=df.groupby("departman").groups
print(result)

29250
{'bilgi işlem': [1, 5], 'insan kaynakları': [0, 3, 6], 'muhasebe': [2, 4]}

In [28]:
result=df.groupby(["departman","semt"]).groups
print(result)

{('bilgi işlem', 'tuzla'): [1, 5], ('insan kaynakları', 'kadikoy'): [0, 6], ('insan kaynakları', 'tuzla'): [3], ('muhasebe', 'maltepe'): [2, 4]}

In [29]:
result=df.groupby(["semt"]).groups
print(result)
for name, group in df.groupby("semt"):
    print(name)
    print(group)

{'kadikoy': [0, 6], 'maltepe': [2, 4], 'tuzla': [1, 3, 5]}
kadikoy
   çalışan         departman  yaş     semt  maas
0      ali  insan kaynakları   30  kadikoy  5000
6  mustafa  insan kaynakları   42  kadikoy  4500
maltepe
  çalışan departman  yaş     semt  maas
2    ayşe  muhasebe   45  maltepe  4000
4    cenk  muhasebe   23  maltepe  2750
tuzla
  çalışan         departman  yaş   semt  maas
1    umut       bilgi işlem   25  tuzla  3000
3     can  insan kaynakları   50  tuzla  3500
5    rıza       bilgi işlem   34  tuzla  6500

In [30]:
for name, group in df.groupby("departman"):
    print(name)
    print(group)

bilgi işlem
  çalışan    departman  yaş   semt  maas
1    umut  bilgi işlem   25  tuzla  3000
5    rıza  bilgi işlem   34  tuzla  6500
insan kaynakları
   çalışan         departman  yaş     semt  maas
0      ali  insan kaynakları   30  kadikoy  5000
3      can  insan kaynakları   50    tuzla  3500
6  mustafa  insan kaynakları   42  kadikoy  4500
muhasebe
  çalışan departman  yaş     semt  maas
2    ayşe  muhasebe   45  maltepe  4000
4    cenk  muhasebe   23  maltepe  2750

In [31]:
result=df.groupby("semt").get_group("kadikoy")
print(result)

   çalışan         departman  yaş     semt  maas
0      ali  insan kaynakları   30  kadikoy  5000
6  mustafa  insan kaynakları   42  kadikoy  4500

In [32]:
result=df.groupby("departman").get_group("muhasebe")
print(result)

  çalışan departman  yaş     semt  maas
2    ayşe  muhasebe   45  maltepe  4000
4    cenk  muhasebe   23  maltepe  2750

In [33]:
result=df.groupby("departman").get_group("insan kaynakları")
print(result)

   çalışan         departman  yaş     semt  maas
0      ali  insan kaynakları   30  kadikoy  5000
3      can  insan kaynakları   50    tuzla  3500
6  mustafa  insan kaynakları   42  kadikoy  4500

In [36]:
result=df.groupby("departman").sum()#topla
print(result)

                  yaş   maas
departman
bilgi işlem        59   9500
insan kaynakları  122  13000
muhasebe           68   6750

In [41]:
result=df.groupby("departman").mean()#ortalama bul
print(result)

                        yaş         maas
departman
bilgi işlem       29.500000  4750.000000
insan kaynakları  40.666667  4333.333333
muhasebe          34.000000  3375.000000

In [38]:
result=df.groupby("departman")["maas"].mean()
print(result)

departman
bilgi işlem         4750.000000
insan kaynakları    4333.333333
muhasebe            3375.000000
Name: maas, dtype: float64

In [40]:
result=df.groupby("semt")["yaş"].mean()
print(result)

semt
kadikoy    36.000000
maltepe    34.000000
tuzla      36.333333
Name: yaş, dtype: float64

In [42]:
result=df.groupby("semt")["maas"].mean()
print(result)

semt
kadikoy    4750.000000
maltepe    3375.000000
tuzla      4333.333333
Name: maas, dtype: float64

In [44]:
result=df.groupby("semt")["çalışan"].count()
print(result)

semt
kadikoy    2
maltepe    2
tuzla      3
Name: çalışan, dtype: int64

In [45]:
result=df.groupby("departman")["yaş"].max()
print(result)

departman
bilgi işlem         34
insan kaynakları    50
muhasebe            45
Name: yaş, dtype: int64

In [46]:
result=df.groupby("departman")["maas"].max()
print(result)

departman
bilgi işlem         6500
insan kaynakları    5000
muhasebe            4000
Name: maas, dtype: int64

In [47]:
result=df.groupby("departman")["maas"].min()
print(result)

departman
bilgi işlem         3000
insan kaynakları    3500
muhasebe            2750
Name: maas, dtype: int64

In [48]:
result=df.groupby("departman")["maas"].max()["muhasebe"]
print(result)

4000

In [50]:
import numpy as np
result=df.groupby("departman").agg(np.mean)
print(result)

                        yaş         maas
departman
bilgi işlem       29.500000  4750.000000
insan kaynakları  40.666667  4333.333333
muhasebe          34.000000  3375.000000

In [52]:
result=df.groupby("departman")["maas"].agg([np.sum,np.mean,np.max,np.min])
print(result)

                    sum         mean  amax  amin
departman
bilgi işlem        9500  4750.000000  6500  3000
insan kaynakları  13000  4333.333333  5000  3500
muhasebe           6750  3375.000000  4000  2750