In [18]:
import pandas as pd
import numpy as np
data=np.random.randint(10,100,15).reshape(5,3)
df=pd.DataFrame(data,index=["a","c","e","f","h"],columns=["column1","column2","column3"])
df=df.reindex(["a","b","c","d","e","f","g","h"])
newColumn=[np.nan,30,np.nan,51,np.nan,30,np.nan,10]
df["column4"]=newColumn
result=df
print(result)

   column1  column2  column3  column4
a     56.0     51.0     96.0      NaN
b      NaN      NaN      NaN     30.0
c     65.0     43.0     81.0      NaN
d      NaN      NaN      NaN     51.0
e     84.0     91.0     25.0      NaN
f     46.0     24.0     19.0     30.0
g      NaN      NaN      NaN      NaN
h     64.0     73.0     46.0     10.0

In [12]:
result=df.drop("column1",axis=1)#column1 sutununu sil
print(result)

   column2  column3
a     62.0     30.0
b      NaN      NaN
c     27.0     33.0
d      NaN      NaN
e     16.0     78.0
f     68.0     24.0
g      NaN      NaN
h     20.0     48.0

In [11]:
result=df.drop(["column1","column2"],axis=1)#column1 ve column2 sutununu sil
print(result)

   column3
a     30.0
b      NaN
c     33.0
d      NaN
e     78.0
f     24.0
g      NaN
h     48.0

In [13]:
result=df.drop(["a"],axis=0)#a satırını sil satır olduğunu axis=0 olarak belirliyoruz
print(result)

   column1  column2  column3
b      NaN      NaN      NaN
c     63.0     27.0     33.0
d      NaN      NaN      NaN
e     90.0     16.0     78.0
f     19.0     68.0     24.0
g      NaN      NaN      NaN
h     73.0     20.0     48.0

In [15]:
result=df.drop(["a","b","h"],axis=0)
print(result)

   column1  column2  column3
c     63.0     27.0     33.0
d      NaN      NaN      NaN
e     90.0     16.0     78.0
f     19.0     68.0     24.0
g      NaN      NaN      NaN

In [20]:
result=df.isnull()
print(result)
result = df.isnull().sum()
print(result)

   column1  column2  column3  column4
a    False    False    False     True
b     True     True     True    False
c    False    False    False     True
d     True     True     True    False
e    False    False    False     True
f    False    False    False    False
g     True     True     True     True
h    False    False    False    False
column1    3
column2    3
column3    3
column4    4
dtype: int64

In [21]:
result = df["column1"].isnull().sum()
print(result)

3

In [22]:
print(df)

   column1  column2  column3  column4
a     56.0     51.0     96.0      NaN
b      NaN      NaN      NaN     30.0
c     65.0     43.0     81.0      NaN
d      NaN      NaN      NaN     51.0
e     84.0     91.0     25.0      NaN
f     46.0     24.0     19.0     30.0
g      NaN      NaN      NaN      NaN
h     64.0     73.0     46.0     10.0

In [24]:
result = df[df["column1"].isnull()]
print(result)

   column1  column2  column3  column4
b      NaN      NaN      NaN     30.0
d      NaN      NaN      NaN     51.0
g      NaN      NaN      NaN      NaN

In [25]:
result = df[df["column1"].isnull()]["column1"]
print(result)

b   NaN
d   NaN
g   NaN
Name: column1, dtype: float64

In [26]:
result = df[df["column1"].notnull()]["column1"]
print(result)

a    56.0
c    65.0
e    84.0
f    46.0
h    64.0
Name: column1, dtype: float64

In [28]:
result = df[df["column1"].notnull()]
print(result)

a    56.0
c    65.0
e    84.0
f    46.0
h    64.0
Name: column1, dtype: float64

In [30]:
result=df.dropna(axis=0)#satırları nan olanları sil
print(result)

   column1  column2  column3  column4
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [31]:
result=df.dropna(axis=1)#sutunlari nan olanları sil
print(result)

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

In [32]:
result=df.dropna(how="any")#1 tanesi bile nansa satiri siler
print(result)

   column1  column2  column3  column4
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [34]:
result=df.dropna(how="all")#tum satirlar nansa siler
print(result)

   column1  column2  column3  column4
a     56.0     51.0     96.0      NaN
b      NaN      NaN      NaN     30.0
c     65.0     43.0     81.0      NaN
d      NaN      NaN      NaN     51.0
e     84.0     91.0     25.0      NaN
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [37]:
result=df.dropna(subset=["column1","column2"],how="all")
print(result)

   column1  column2  column3  column4
a     56.0     51.0     96.0      NaN
c     65.0     43.0     81.0      NaN
e     84.0     91.0     25.0      NaN
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [38]:
result=df.dropna(subset=["column1","column2"],how="any")
print(result)

   column1  column2  column3  column4
a     56.0     51.0     96.0      NaN
c     65.0     43.0     81.0      NaN
e     84.0     91.0     25.0      NaN
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [40]:
result=df.dropna(thresh=2)#en az 2 tane normal veri
print(result)

   column1  column2  column3  column4
a     56.0     51.0     96.0      NaN
b      NaN      NaN      NaN     30.0
c     65.0     43.0     81.0      NaN
d      NaN      NaN      NaN     51.0
e     84.0     91.0     25.0      NaN
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [41]:
result=df.dropna(thresh=4)#en az 4 tane normal veri
print(result)

   column1  column2  column3  column4
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [44]:
result=df.dropna(thresh=3)#en az 3 tane normal veri
print(result)

   column1  column2  column3  column4
a     56.0     51.0     96.0      NaN
c     65.0     43.0     81.0      NaN
e     84.0     91.0     25.0      NaN
f     46.0     24.0     19.0     30.0
h     64.0     73.0     46.0     10.0

In [45]:
result=df.fillna(value="no input")#nan olan degerleri no input ile degistirdik
print(result)

    column1   column2   column3   column4
a      56.0      51.0      96.0  no input
b  no input  no input  no input      30.0
c      65.0      43.0      81.0  no input
d  no input  no input  no input      51.0
e      84.0      91.0      25.0  no input
f      46.0      24.0      19.0      30.0
g  no input  no input  no input  no input
h      64.0      73.0      46.0      10.0

In [46]:
result=df.fillna(value=1)#nan olan degerleri 1 ile degistirdik
print(result)

   column1  column2  column3  column4
a     56.0     51.0     96.0      1.0
b      1.0      1.0      1.0     30.0
c     65.0     43.0     81.0      1.0
d      1.0      1.0      1.0     51.0
e     84.0     91.0     25.0      1.0
f     46.0     24.0     19.0     30.0
g      1.0      1.0      1.0      1.0
h     64.0     73.0     46.0     10.0

In [47]:
result=df.sum()#kolonlarin toplami
print(result)

column1    315.0
column2    282.0
column3    267.0
column4    121.0
dtype: float64

In [48]:
result=df.sum().sum()#hepsinin toplamu
print(result)

985.0

In [49]:
result=df.size#eleman sayisi toplamu
print(result)

32

In [52]:
result=df.isnull().sum()#kolonlarin null eleman sayisi toplamu
print(result)

column1    3
column2    3
column3    3
column4    4
dtype: int64

In [53]:
result=df.isnull().sum().sum()#toplam null eleman sayisi toplamu
print(result)

13

In [59]:
def ortalama(df):#null yazan yerlere ortalama yaz
    toplam=df.sum().sum()
    adet=df.size-df.isnull().sum().sum()
    return toplam/adet
result=df.fillna(value=ortalama(df))
print(result)

     column1    column2    column3    column4
a  56.000000  51.000000  96.000000  51.842105
b  51.842105  51.842105  51.842105  30.000000
c  65.000000  43.000000  81.000000  51.842105
d  51.842105  51.842105  51.842105  51.000000
e  84.000000  91.000000  25.000000  51.842105
f  46.000000  24.000000  19.000000  30.000000
g  51.842105  51.842105  51.842105  51.842105
h  64.000000  73.000000  46.000000  10.000000